__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

airflow_venv/
env/
venv/

airflow/logs/
airflow/airflow.db
airflow/unittests.cfg

.env

crawl/

.DS_Store
Thumbs.db

.ipynb_checkpoints/

*.tgz
*.jar
*.zip
logs/


.DS_Store
.ipynb_checkpoints/
.env
.vscode/
*.log
*.csv

airflow/logs/
notebooks/track_metadata.csv
notebooks/track_features.csv


hadoop_datanode/
dags/
config/
hive-metastore/
logs/
plugins/
postgresql_data/
postgresql/
airflow/
.devcontainer/

.cache
airflow.cfg
artists_stream.txt
hadoop.env
hive/metastore/


metabase